openapi: 3.2.0
info:
  title: Guardian Accounts Report Configs API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Accounts-ReportConfigs
paths:
  /api/v1/accounts/reportconfigs/{id}:
    get:
      tags:
      - Accounts-ReportConfigs
      operationId: get_15
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountReportConfig'
      security:
      - guardianAuth: []
      summary: Get 15
      x-summary-source: derived
    put:
      tags:
      - Accounts-ReportConfigs
      operationId: update_15
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountReportConfig'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountReportConfig'
      security:
      - guardianAuth: []
      summary: Update 15
      x-summary-source: derived
    delete:
      tags:
      - Accounts-ReportConfigs
      operationId: delete_13
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
      summary: Delete 13
      x-summary-source: derived
  /api/v1/accounts/reportconfigs:
    post:
      tags:
      - Accounts-ReportConfigs
      operationId: create_16
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountReportConfig'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountReportConfig'
      security:
      - guardianAuth: []
      summary: Create 16
      x-summary-source: derived
  /api/v1/accounts/{accountId}/reportconfigs:
    get:
      tags:
      - Accounts-ReportConfigs
      operationId: list_28
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountReportConfig'
      security:
      - guardianAuth: []
      summary: List 28
      x-summary-source: derived
components:
  schemas:
    AccountReportConfig:
      properties:
        id:
          type: string
          format: uuid
        config:
          type: object
          additionalProperties:
            type: object
        enabled:
          type: boolean
        accountId:
          type: string
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
