openapi: 3.2.0
info:
  title: Trustarc Anon Credential Resource API
  version: v1
  description: 'Operations tagged anon-credential-resource across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: anon-credential-resource
paths:
  /services/anonymous/user/{username}/password/reset:
    post:
      tags:
      - anon-credential-resource
      operationId: resetPassword
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /services/anonymous/user/password/reset:
    post:
      tags:
      - anon-credential-resource
      operationId: resetPasswordInQuery
      parameters:
      - name: username
        in: query
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
