openapi: 3.2.0
info:
  title: Guardian Users Meta Tags API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Users-MetaTags
paths:
  /api/v1/users/{userId}/metatags:
    get:
      tags:
      - Users-MetaTags
      operationId: list_3
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: required
        in: query
        required: false
        schema:
          type: boolean
      - name: metaTagNames
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageEntryStringString'
      security:
      - guardianAuth: []
      summary: List 3
      x-summary-source: derived
    post:
      tags:
      - Users-MetaTags
      operationId: upsertAll_1
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: string
      security:
      - guardianAuth: []
      summary: Upsert all 1
      x-summary-source: derived
  /api/v1/users/{userId}/metatag:
    post:
      tags:
      - Users-MetaTags
      operationId: upsertOne
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                key:
                  type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  value:
                    type: string
                  key:
                    type: string
      security:
      - guardianAuth: []
      summary: Upsert one
      x-summary-source: derived
  /api/v1/users/{userId}/metatags/{metaTagName}:
    get:
      tags:
      - Users-MetaTags
      operationId: get_20
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: metaTagName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  value:
                    type: string
                  key:
                    type: string
      security:
      - guardianAuth: []
      summary: Get 20
      x-summary-source: derived
  /api/v1/users/metatags/search:
    get:
      tags:
      - Users-MetaTags
      operationId: search_1
      parameters:
      - name: primaryTag
        in: query
        required: true
        schema:
          type: string
      - name: value
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: accountId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: supplementaryTags
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SliceUserMetaTagSearchDTO'
      security:
      - guardianAuth: []
      summary: Search 1
      x-summary-source: derived
components:
  schemas:
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    PageEntryStringString:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              key:
                type: string
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    SliceUserMetaTagSearchDTO:
      properties:
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/UserMetaTagSearchDTO'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    UserMetaTagSearchDTO:
      properties:
        primaryTag:
          type: object
          properties:
            value:
              type: string
            key:
              type: string
        supplementaryTags:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              key:
                type: string
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
