openapi: 3.2.0
info:
  title: Trustarc Preface API
  version: v1
  description: 'Operations tagged Preface across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Preface
paths:
  /api/v1/prefaces:
    get:
      tags:
      - Preface
      operationId: list_19
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagePreface'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/prefaces/{id}:
    get:
      tags:
      - Preface
      operationId: get_24
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preface'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/prefaces/name/{name}:
    get:
      tags:
      - Preface
      operationId: getByName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preface'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  schemas:
    Preface:
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - CHANGE_PASSWORD_WARN
          - ANNOUNCE_PAGE
          - NONE
        viewName:
          type: string
        mandatory:
          type: boolean
    PagePreface:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/Preface'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
