openapi: 3.2.0
info:
  title: Guardian Accounts Organizational Structure API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Accounts-OrganizationalStructure
paths:
  /api/v1/accounts/{id}/organizational-structure:
    put:
      tags:
      - Accounts-OrganizationalStructure
      operationId: update_12
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationalStructureDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationalStructureDTO'
      security:
      - guardianAuth: []
      summary: Update 12
      x-summary-source: derived
  /api/v1/accounts/{accountId}/organizational-structure:
    get:
      tags:
      - Accounts-OrganizationalStructure
      operationId: read
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: at
        in: query
        required: false
        schema:
          type: integer
          format: int64
          description: Timestamp in seconds since epoch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationalStructureDTO'
      security:
      - guardianAuth: []
      summary: Read
      x-summary-source: derived
  /api/v1/accounts/{accountId}/organizational-structure/root:
    get:
      tags:
      - Accounts-OrganizationalStructure
      operationId: findRoot
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: at
        in: query
        required: false
        schema:
          type: integer
          format: int64
          description: Timestamp in seconds since epoch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationalGroupDTO'
      security:
      - guardianAuth: []
      summary: Find root
      x-summary-source: derived
  /api/v1/accounts/{accountId}/organizational-structure/hierarchy/group/{externalGroupId}:
    get:
      tags:
      - Accounts-OrganizationalStructure
      operationId: findParentHierarchy
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: externalGroupId
        in: path
        required: true
        schema:
          type: string
      - name: at
        in: query
        required: false
        schema:
          type: integer
          format: int64
          description: Timestamp in seconds since epoch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationalStructureDTO'
      security:
      - guardianAuth: []
      summary: Find parent hierarchy
      x-summary-source: derived
  /api/v1/accounts/{accountId}/organizational-structure/group/{externalGroupId}:
    get:
      tags:
      - Accounts-OrganizationalStructure
      operationId: retrieveSingleOrganizationalGroup
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: externalGroupId
        in: path
        required: true
        schema:
          type: string
      - name: at
        in: query
        required: false
        schema:
          type: integer
          format: int64
          description: Timestamp in seconds since epoch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationalGroupDTO'
      security:
      - guardianAuth: []
      summary: Retrieve single organizational group
      x-summary-source: derived
  /api/v1/accounts/{accountId}/organizational-structure/group/{externalGroupId}/children:
    get:
      tags:
      - Accounts-OrganizationalStructure
      operationId: listChildren
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: externalGroupId
        in: path
        required: true
        schema:
          type: string
      - name: at
        in: query
        required: false
        schema:
          type: integer
          format: int64
          description: Timestamp in seconds since epoch
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOrganizationalGroupDTO'
      security:
      - guardianAuth: []
      summary: List children
      x-summary-source: derived
components:
  schemas:
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    PageOrganizationalGroupDTO:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationalGroupDTO'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    OrganizationalStructureDTO:
      properties:
        accountId:
          type: string
        timestamp:
          type: string
          format: date-time
        root:
          $ref: '#/components/schemas/OrganizationalGroupDTO'
    OrganizationalGroupDTO:
      properties:
        name:
          type: string
        externalGroupId:
          type: string
        groupType:
          type: string
        active:
          type: boolean
        parentExternalGroupId:
          type: string
        childCount:
          type: integer
          format: int64
        groups:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationalGroupDTO'
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
