openapi: 3.2.0
info:
  title: Guardian Accounts Meta Tags API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Accounts-MetaTags
paths:
  /api/v1/accounts/{accountId}/metatags/{metaTagId}:
    put:
      tags:
      - Accounts-MetaTags
      operationId: update_14
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: metaTagId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaTag'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MetaTag'
      security:
      - guardianAuth: []
      summary: Update 14
      x-summary-source: derived
    delete:
      tags:
      - Accounts-MetaTags
      operationId: delete_12
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: metaTagId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
      summary: Delete 12
      x-summary-source: derived
  /api/v1/accounts/{accountId}/metatags/create:
    post:
      tags:
      - Accounts-MetaTags
      operationId: create_15
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaTag'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MetaTag'
      security:
      - guardianAuth: []
      summary: Create 15
      x-summary-source: derived
  /api/v1/accounts/{accountId}/metatags:
    get:
      tags:
      - Accounts-MetaTags
      operationId: list_29
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: name
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: columnName
        in: query
        required: false
        schema:
          type: string
          default: name
      - name: required
        in: query
        required: false
        schema:
          type: boolean
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageMetaTag'
      security:
      - guardianAuth: []
      summary: List 29
      x-summary-source: derived
components:
  schemas:
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    PageMetaTag:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/MetaTag'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    MetaTag:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        required:
          type: boolean
        displayName:
          type: string
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
