openapi: 3.2.0
info:
  title: Guardian SCIM API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: SCIM
paths:
  /external/api/v2/scim/ServiceProviderConfig:
    get:
      tags:
      - SCIM
      operationId: getServiceProviderConfig
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceProviderConfigResource'
      security:
      - guardianAuth: []
      summary: Get service provider config
      x-summary-source: derived
  /external/api/v2/scim/Schemas:
    get:
      tags:
      - SCIM
      operationId: getSchemas
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListResponseSchemaResource'
      security:
      - guardianAuth: []
      summary: Get schemas
      x-summary-source: derived
  /external/api/v2/scim/Schemas/{resource}:
    get:
      tags:
      - SCIM
      operationId: getSchema
      parameters:
      - name: resource
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SchemaResource'
      security:
      - guardianAuth: []
      summary: Get schema
      x-summary-source: derived
  /external/api/v2/scim/ResourceTypes:
    get:
      tags:
      - SCIM
      operationId: getResourceTypes
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListResponseResourceTypeResource'
      security:
      - guardianAuth: []
      summary: Get resource types
      x-summary-source: derived
  /external/api/v2/scim/ResourceTypes/{resource}:
    get:
      tags:
      - SCIM
      operationId: getResourceType
      parameters:
      - name: resource
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceTypeResource'
      security:
      - guardianAuth: []
      summary: Get resource type
      x-summary-source: derived
components:
  schemas:
    SchemaResource:
      properties:
        schemas:
          type: array
          items:
            type: string
          uniqueItems: true
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        description:
          type: string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeDefinition'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - attributes
      - id
    ResourceTypeResource:
      properties:
        schemas:
          type: array
          items:
            type: string
          uniqueItems: true
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        description:
          type: string
        endpoint:
          type: string
          format: uri
        schema:
          type: string
          format: uri
        schemaExtensions:
          type: array
          items:
            $ref: '#/components/schemas/SchemaExtension'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - endpoint
      - name
      - schema
    PatchConfig:
      properties:
        supported:
          type: boolean
      required:
      - supported
    ServiceProviderConfigResource:
      properties:
        schemas:
          type: array
          items:
            type: string
          uniqueItems: true
        id:
          type: string
        externalId:
          type: string
        documentationUri:
          type: string
        patch:
          $ref: '#/components/schemas/PatchConfig'
        bulk:
          $ref: '#/components/schemas/BulkConfig'
        filter:
          $ref: '#/components/schemas/FilterConfig'
        changePassword:
          $ref: '#/components/schemas/ChangePasswordConfig'
        sort:
          $ref: '#/components/schemas/SortConfig'
        etag:
          $ref: '#/components/schemas/ETagConfig'
        pagination:
          $ref: '#/components/schemas/PaginationConfig'
        authenticationSchemes:
          type: array
          items:
            $ref: '#/components/schemas/AuthenticationScheme'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - authenticationSchemes
      - bulk
      - changePassword
      - etag
      - filter
      - patch
      - sort
    AttributeDefinition:
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - string
          - boolean
          - decimal
          - integer
          - dateTime
          - binary
          - reference
          - complex
        subAttributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeDefinition'
        multiValued:
          type: boolean
        description:
          type: string
        required:
          type: boolean
        canonicalValues:
          type: array
          items:
            type: string
        caseExact:
          type: boolean
        mutability:
          type: string
          enum:
          - readOnly
          - readWrite
          - immutable
          - writeOnly
        returned:
          type: string
          enum:
          - always
          - never
          - default
          - request
        uniqueness:
          type: string
          enum:
          - none
          - server
          - global
        referenceTypes:
          type: array
          items:
            type: string
      required:
      - multiValued
      - mutability
      - name
      - required
      - returned
      - type
    BulkConfig:
      properties:
        supported:
          type: boolean
        maxOperations:
          type: integer
          format: int32
        maxPayloadSize:
          type: integer
          format: int32
      required:
      - maxOperations
      - maxPayloadSize
      - supported
    ChangePasswordConfig:
      properties:
        supported:
          type: boolean
      required:
      - supported
    PaginationConfig:
      properties:
        cursor:
          type: boolean
        index:
          type: boolean
        defaultPaginationMethod:
          type: string
        defaultPageSize:
          type: integer
          format: int32
        maxPageSize:
          type: integer
          format: int32
        cursorTimeout:
          type: integer
          format: int32
    AuthenticationScheme:
      properties:
        name:
          type: string
        description:
          type: string
        specUri:
          type: string
          format: uri
        documentationUri:
          type: string
          format: uri
        type:
          type: string
        primary:
          type: boolean
      required:
      - description
      - name
    ListResponseSchemaResource:
      properties:
        schemas:
          type: array
          items:
            type: string
          uniqueItems: true
        totalResults:
          type: integer
          format: int32
        startIndex:
          type: integer
          format: int32
        itemsPerPage:
          type: integer
          format: int32
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/SchemaResource'
      required:
      - Resources
    SchemaExtension:
      properties:
        schema:
          type: string
          format: uri
        required:
          type: boolean
      required:
      - required
      - schema
    FilterConfig:
      properties:
        supported:
          type: boolean
        maxResults:
          type: integer
          format: int32
      required:
      - maxResults
      - supported
    SortConfig:
      properties:
        supported:
          type: boolean
      required:
      - supported
    Meta:
      properties:
        resourceType:
          type: string
        created:
          type: string
          format: date-time
        lastModified:
          type: string
          format: date-time
        location:
          type: string
          format: uri
        version:
          type: string
        createdMillis:
          $ref: '#/components/schemas/Meta'
        lastModifiedMillis:
          $ref: '#/components/schemas/Meta'
    ETagConfig:
      properties:
        supported:
          type: boolean
      required:
      - supported
    ListResponseResourceTypeResource:
      properties:
        schemas:
          type: array
          items:
            type: string
          uniqueItems: true
        totalResults:
          type: integer
          format: int32
        startIndex:
          type: integer
          format: int32
        itemsPerPage:
          type: integer
          format: int32
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/ResourceTypeResource'
      required:
      - Resources
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
