openapi: 3.2.0
info:
  title: Trustarc Clients Extension License API
  version: v1
  description: 'Operations tagged Clients-Extension-License across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Clients-Extension-License
paths:
  /api/v1/licenses/identifier/{licenseIdentifier}/attributes/identifier/{attributeIdentifier}:
    get:
      tags:
      - Clients-Extension-License
      operationId: getLincenseAttributes
      parameters:
      - name: licenseIdentifier
        in: path
        required: true
        schema:
          type: string
      - name: attributeIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClientExtensionLicenseAttribute'
      security:
      - guardianAuth: []
    post:
      tags:
      - Clients-Extension-License
      operationId: upsert_3
      parameters:
      - name: licenseIdentifier
        in: path
        required: true
        schema:
          type: string
      - name: attributeIdentifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientExtensionLicenseAttribute'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClientExtensionLicenseAttribute'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/licenses/identifier/{identifier}:
    get:
      tags:
      - Clients-Extension-License
      operationId: getByIdentifier
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClientExtensionLicense'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/licenses/{id}:
    delete:
      tags:
      - Clients-Extension-License
      operationId: delete_20
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  schemas:
    ClientExtensionLicenseAttribute:
      properties:
        value:
          type: string
        edittable:
          type: boolean
        license:
          $ref: '#/components/schemas/ClientExtensionLicense'
        attribute:
          $ref: '#/components/schemas/ClientExtensionAttribute'
    ClientExtensionLicense:
      properties:
        id:
          type: string
          format: uuid
        identifier:
          type: string
        name:
          type: string
    ClientExtensionAttribute:
      properties:
        id:
          type: string
          format: uuid
        identifier:
          type: string
        displayName:
          type: string
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
