openapi: 3.2.0
info:
  title: Guardian Accounts Tokens API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Accounts-Tokens
paths:
  /api/v1/accounts/{accountId}/tokens:
    get:
      tags:
      - Accounts-Tokens
      operationId: list_13
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountLongExpToken'
      security:
      - guardianAuth: []
      summary: List 13
      x-summary-source: derived
    post:
      tags:
      - Accounts-Tokens
      operationId: create_13
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      - name: expiresOn
        in: query
        required: false
        schema:
          type: string
          default: P1Y
          enum:
          - P6M
          - P1Y
          - P1Y6M
          - P2Y
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountLongExpToken'
      security:
      - guardianAuth: []
      summary: Create 13
      x-summary-source: derived
  /api/v1/accounts/tokens:
    get:
      tags:
      - Accounts-Tokens
      operationId: list_31
      parameters:
      - name: abountToExpire
        in: query
        required: false
        schema:
          type: boolean
      - name: accountId
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SliceAccountLongExpToken'
      security:
      - guardianAuth: []
      summary: List 31
      x-summary-source: derived
  /api/v1/accounts/tokens/{tokenId}:
    delete:
      tags:
      - Accounts-Tokens
      operationId: delete_21
      parameters:
      - name: tokenId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
      summary: Delete 21
      x-summary-source: derived
components:
  schemas:
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    SliceAccountLongExpToken:
      properties:
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/AccountLongExpToken'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    AccountLongExpToken:
      properties:
        id:
          type: string
          format: uuid
        expiresOn:
          type: string
          format: date-time
        createdDate:
          type: string
          format: date-time
        token:
          type: string
          readOnly: true
        accountId:
          type: string
        userId:
          type: string
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
