openapi: 3.2.0
info:
  title: Guardian Navigation Menus API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Navigation-Menus
paths:
  /api/v1/navigation-menus/{menuId}:
    get:
      tags:
      - Navigation-Menus
      operationId: get_8
      parameters:
      - name: menuId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationMenu'
      security:
      - guardianAuth: []
      summary: Get 8
      x-summary-source: derived
    put:
      tags:
      - Navigation-Menus
      operationId: update_7
      parameters:
      - name: menuId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationMenu'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationMenu'
      security:
      - guardianAuth: []
      summary: Update 7
      x-summary-source: derived
    delete:
      tags:
      - Navigation-Menus
      operationId: delete_6
      parameters:
      - name: menuId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
      summary: Delete 6
      x-summary-source: derived
  /api/v1/navigation-menus:
    get:
      tags:
      - Navigation-Menus
      operationId: list_7
      parameters:
      - name: clientId
        in: query
        required: false
        schema:
          type: string
      - name: parentId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApplicationMenu'
      security:
      - guardianAuth: []
      summary: List 7
      x-summary-source: derived
    post:
      tags:
      - Navigation-Menus
      operationId: create_7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationMenu'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationMenu'
      security:
      - guardianAuth: []
      summary: Create 7
      x-summary-source: derived
  /api/v1/navigation-menus/order:
    post:
      tags:
      - Navigation-Menus
      operationId: order
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApplicationMenu'
      security:
      - guardianAuth: []
      summary: Order
      x-summary-source: derived
  /api/v1/navigation-menus/full:
    get:
      tags:
      - Navigation-Menus
      operationId: fullList
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApplicationMenu'
      security:
      - guardianAuth: []
      summary: Full list
      x-summary-source: derived
components:
  schemas:
    ApplicationMenu:
      properties:
        id:
          type: string
          format: uuid
        text:
          type: string
        order:
          type: integer
          format: int32
        url:
          type: string
        icon:
          type: string
        iconV2:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/ClientApplicationRole'
          uniqueItems: true
        parentId:
          type: string
          format: uuid
        clientId:
          type: string
    ClientApplicationRole:
      properties:
        id:
          type: string
        identifier:
          type: string
        name:
          type: string
        description:
          type: string
        permissions:
          type: string
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
