openapi: 3.2.0
info:
  title: Trustarc Entity Configs API
  version: v1
  description: 'Operations tagged Entity Configs across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Entity Configs
paths:
  /api/v1/entityconfigs/{id}:
    get:
      tags:
      - Entity Configs
      operationId: get_9
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityConfig'
      security:
      - guardianAuth: []
    put:
      tags:
      - Entity Configs
      operationId: update_8
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityConfig'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityConfig'
      security:
      - guardianAuth: []
    delete:
      tags:
      - Entity Configs
      operationId: delete_7
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/entityconfigs:
    get:
      tags:
      - Entity Configs
      operationId: list_9
      parameters:
      - name: entity
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: entityId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: key
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageEntityConfig'
      security:
      - guardianAuth: []
    post:
      tags:
      - Entity Configs
      operationId: create_9
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityConfig'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityConfig'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/entityconfigs/upsert:
    post:
      tags:
      - Entity Configs
      operationId: upsert_4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityConfig'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityConfig'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/entityconfigs/keyinfo:
    get:
      tags:
      - Entity Configs
      operationId: keyInfo
      parameters:
      - name: applicableTos
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityConfigKeyFormat'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  schemas:
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    EntityConfig:
      properties:
        id:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        entity:
          type: string
        entityId:
          type: string
        key:
          type: string
        value:
          type: string
        keyType:
          type: string
          enum:
          - STRING
          - BOOLEAN
          - NUMBER
        modifiedById:
          type: string
    ValidChecker:
      properties:
        type:
          type: string
          enum:
          - DATE_RANGE
        range:
          type: string
    EntityConfigKeyFormat:
      properties:
        key:
          type: string
        display:
          type: string
        info:
          type: string
        format:
          type: string
        formatMatcher:
          type: string
        defaultValue:
          type: string
        defaultExpressionValue:
          type: string
        validChecker:
          $ref: '#/components/schemas/ValidChecker'
        applicableTos:
          type: array
          items:
            type: string
        formatKeys:
          type: array
          items:
            $ref: '#/components/schemas/FormatKeyInfo'
        keyType:
          type: string
          enum:
          - STRING
          - BOOLEAN
          - NUMBER
    FormatKeyInfo:
      properties:
        key:
          type: string
        info:
          type: string
    PageEntityConfig:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/EntityConfig'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
