openapi: 3.2.0
info:
  title: Guardian Accounts Fieldtypes API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Accounts-fieldtypes
paths:
  /api/v1/industrytypes:
    get:
      tags:
      - Accounts-fieldtypes
      operationId: list_21
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisplayValue'
      security:
      - guardianAuth: []
      summary: List 21
      x-summary-source: derived
  /api/v1/businesstypes:
    get:
      tags:
      - Accounts-fieldtypes
      operationId: list_25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisplayValue'
      security:
      - guardianAuth: []
      summary: List 25
      x-summary-source: derived
  /api/v1/accountstatuses:
    get:
      tags:
      - Accounts-fieldtypes
      operationId: list_26
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisplayValue'
      security:
      - guardianAuth: []
      summary: List 26
      x-summary-source: derived
components:
  schemas:
    DisplayValue:
      properties:
        display:
          type: string
        value:
          type: string
        groupType:
          type: string
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
