openapi: 3.2.0
info:
  title: Trustarc Clients Extension API
  version: v1
  description: 'Operations tagged Clients-Extension across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Clients-Extension
paths:
  /api/v1/clients/{clientId}/extension:
    get:
      tags:
      - Clients-Extension
      operationId: get_19
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClientExtension'
      security:
      - guardianAuth: []
    post:
      tags:
      - Clients-Extension
      operationId: upsert_6
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientExtension'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClientExtension'
      security:
      - guardianAuth: []
    delete:
      tags:
      - Clients-Extension
      operationId: delete_17
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  schemas:
    ClientExtensionAttribute:
      properties:
        id:
          type: string
          format: uuid
        identifier:
          type: string
        displayName:
          type: string
    ClientExtensionLicense:
      properties:
        id:
          type: string
          format: uuid
        identifier:
          type: string
        name:
          type: string
    ClientExtension:
      properties:
        id:
          type: string
          format: uuid
        licenses:
          type: array
          items:
            $ref: '#/components/schemas/ClientExtensionLicense'
          uniqueItems: true
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ClientExtensionAttribute'
          uniqueItems: true
        accountRegistrationUri:
          type: string
        clientSecretChangedDate:
          type: string
          format: date-time
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
