openapi: 3.2.0
info:
  title: Guardian Email Templates API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Email Templates
paths:
  /api/v1/emailtemplates/{id}:
    get:
      tags:
      - Email Templates
      operationId: get_10
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEmailTemplate'
      security:
      - guardianAuth: []
      summary: Get 10
      x-summary-source: derived
    put:
      tags:
      - Email Templates
      operationId: update_9
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEmailTemplate'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CustomerEmailTemplate'
      security:
      - guardianAuth: []
      summary: Update 9
      x-summary-source: derived
    delete:
      tags:
      - Email Templates
      operationId: delete_8
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
      summary: Delete 8
      x-summary-source: derived
  /api/v1/emailtemplates:
    get:
      tags:
      - Email Templates
      operationId: list_10
      parameters:
      - name: accountId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: emailTemplateType
        in: query
        required: false
        schema:
          type: string
          enum:
          - FORGOT_PASSWORD
          - NEW_USER
          - IMPORT_JOB
          - EXPORT_JOB
          - LOGIN_REPORT
          - FULL_LOGIN_REPORT
          - EXPIRE_TOKEN
          - OTP
          - NEW_USER_REPORT
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCustomerEmailTemplate'
      security:
      - guardianAuth: []
      summary: List 10
      x-summary-source: derived
    post:
      tags:
      - Email Templates
      operationId: create_10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEmailTemplate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEmailTemplate'
      security:
      - guardianAuth: []
      summary: Create 10
      x-summary-source: derived
  /api/v1/emailtemplates/{emailTemplateType}/macros:
    get:
      tags:
      - Email Templates
      operationId: getMacros
      parameters:
      - name: emailTemplateType
        in: path
        required: true
        schema:
          type: string
          enum:
          - FORGOT_PASSWORD
          - NEW_USER
          - IMPORT_JOB
          - EXPORT_JOB
          - LOGIN_REPORT
          - FULL_LOGIN_REPORT
          - EXPIRE_TOKEN
          - OTP
          - NEW_USER_REPORT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: {}
      security:
      - guardianAuth: []
      summary: Get macros
      x-summary-source: derived
  /api/v1/emailtemplates/defaults:
    get:
      tags:
      - Email Templates
      operationId: getDefaults
      parameters:
      - name: emailTemplateType
        in: query
        required: false
        schema:
          type: string
          enum:
          - FORGOT_PASSWORD
          - NEW_USER
          - IMPORT_JOB
          - EXPORT_JOB
          - LOGIN_REPORT
          - FULL_LOGIN_REPORT
          - EXPIRE_TOKEN
          - OTP
          - NEW_USER_REPORT
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCustomerEmailTemplate'
      security:
      - guardianAuth: []
      summary: Get defaults
      x-summary-source: derived
components:
  schemas:
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    CustomerEmailTemplate:
      properties:
        id:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        type:
          type: string
          enum:
          - FORGOT_PASSWORD
          - NEW_USER
          - IMPORT_JOB
          - EXPORT_JOB
          - LOGIN_REPORT
          - FULL_LOGIN_REPORT
          - EXPIRE_TOKEN
          - OTP
          - NEW_USER_REPORT
        content:
          type: string
        accountId:
          type: string
        modifiedById:
          type: string
    PageCustomerEmailTemplate:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/CustomerEmailTemplate'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
