openapi: 3.2.0
info:
  title: Guardian Xauths API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Xauths
paths:
  /api/v1/xauth_configs/{id}:
    get:
      tags:
      - Xauths
      operationId: get_3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAuthConfig'
      security:
      - guardianAuth: []
      summary: Get 3
      x-summary-source: derived
    put:
      tags:
      - Xauths
      operationId: update_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAuthConfig'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAuthConfig'
      security:
      - guardianAuth: []
      summary: Update 1
      x-summary-source: derived
    delete:
      tags:
      - Xauths
      operationId: delete_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
      summary: Delete 1
      x-summary-source: derived
  /api/v1/xauth_configs:
    get:
      tags:
      - Xauths
      operationId: list_1
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: columnName
        in: query
        required: false
        schema:
          type: string
          default: displayName
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: accountId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: appType
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
      - name: modifiedStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
          description: Timestamp in seconds since epoch
      - name: modifiedEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
          description: Timestamp in seconds since epoch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageExternalAuthConfig'
      security:
      - guardianAuth: []
      summary: List 1
      x-summary-source: derived
    post:
      tags:
      - Xauths
      operationId: create_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAuthConfig'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAuthConfig'
      security:
      - guardianAuth: []
      summary: Create 1
      x-summary-source: derived
  /api/v1/xauth_configs/{id}/metatags:
    get:
      tags:
      - Xauths
      operationId: listMetaTags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageEntryStringString'
      security:
      - guardianAuth: []
      summary: List meta tags
      x-summary-source: derived
  /api/v1/xauth_configs/metadata:
    get:
      tags:
      - Xauths
      operationId: getMetadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      security:
      - guardianAuth: []
      summary: Get metadata
      x-summary-source: derived
components:
  schemas:
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    PermissionProfileUserGroup:
      properties:
        name:
          type: string
        clientId:
          type: string
        permissionProfileId:
          type: string
          format: uuid
          writeOnly: true
    ExAuthMetaTag:
      properties:
        value:
          type: string
        metaTagId:
          type: string
          format: uuid
        metaTagName:
          type: string
    PageEntryStringString:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              key:
                type: string
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    ExternalAuthConfig:
      properties:
        id:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        clientId:
          type: string
          maxLength: 2147483647
          minLength: 1
        displayName:
          type: string
        uriSubdomain:
          type: string
          maxLength: 2147483647
          minLength: 1
        authType:
          type: string
        entityId:
          type: string
        bindingType:
          type: string
          enum:
          - POST
          - REDIRECT
        authWorkflow:
          type: string
          enum:
          - SP_INITIATED
          - IDP_INITIATED
        idpUrl:
          type: string
        idpUrl1:
          type: string
        acsHomeUrl:
          type: string
        logoutUrl:
          type: string
        publicCerts:
          type: string
        publicCerts1:
          type: string
        autoNewuser:
          type: boolean
        appType:
          type: string
        samlOption:
          type: integer
          format: int32
        description:
          type: string
        domainMatches:
          type: string
        issuerMatch:
          type: string
        issuerMatch1:
          type: string
        samlEmailAttribute:
          type: string
        samlFirstNameAttribute:
          type: string
        samlLastNameAttribute:
          type: string
        samlFullNameAttribute:
          type: string
        samlAutoUserAttribute:
          type: string
        samlPhoneAttribute:
          type: string
        samlTitleAttribute:
          type: string
        samlOrgAttribute:
          type: string
        samlUserIdAttribute:
          type: string
        applicationRoles:
          type: array
          items:
            $ref: '#/components/schemas/ClientApplicationRole'
          uniqueItems: true
        userGroups:
          type: array
          items:
            $ref: '#/components/schemas/ExternalAuthConfigUserGroup'
          uniqueItems: true
        permissionProfiles:
          type: array
          items:
            $ref: '#/components/schemas/PermissionProfile'
          uniqueItems: true
        metaTags:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ExAuthMetaTag'
        tags:
          type: object
          additionalProperties:
            type: object
        accountId:
          type: string
        modifiedById:
          type: string
      required:
      - clientId
      - uriSubdomain
    PermissionProfile:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        externalId:
          type: string
        applicationRoles:
          type: array
          items:
            $ref: '#/components/schemas/ClientApplicationRole'
          uniqueItems: true
        userGroups:
          type: array
          items:
            $ref: '#/components/schemas/PermissionProfileUserGroup'
          uniqueItems: true
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        modifiedById:
          type: string
        userCount:
          type: integer
          format: int64
        accountId:
          type: string
    ClientApplicationRole:
      properties:
        id:
          type: string
        identifier:
          type: string
        name:
          type: string
        description:
          type: string
        permissions:
          type: string
    ExternalAuthConfigUserGroup:
      properties:
        name:
          type: string
        externalAuthConfigId:
          type: string
          writeOnly: true
        clientId:
          type: string
    PageExternalAuthConfig:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/ExternalAuthConfig'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
