openapi: 3.2.0
info:
  title: Guardian Users Fieldtypes API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Users-fieldtypes
paths:
  /api/v1/jobtitles:
    get:
      tags:
      - Users-fieldtypes
      operationId: list_20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisplayValue'
      security:
      - guardianAuth: []
      summary: List 20
      x-summary-source: derived
  /api/v1/expertise:
    get:
      tags:
      - Users-fieldtypes
      operationId: list_23
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisplayValue'
      security:
      - guardianAuth: []
      summary: List 23
      x-summary-source: derived
components:
  schemas:
    DisplayValue:
      properties:
        display:
          type: string
        value:
          type: string
        groupType:
          type: string
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
