openapi: 3.2.0
info:
  title: Trustarc Users Simple API
  version: v1
  description: 'Operations tagged Users-Simple across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Users-Simple
paths:
  /api/v1/users/simple:
    post:
      tags:
      - Users-Simple
      operationId: createSimple
      parameters:
      - name: sendPasswordReset
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimpleUser'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCredentials'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  schemas:
    UserCredentials:
      properties:
        id:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        firstName:
          type: string
        lastName:
          type: string
        usageConfirmed:
          type: boolean
        userIdentifier:
          type: string
        orgIdentifier:
          type: string
        nymityId:
          type: string
        status:
          type: string
          enum:
          - Active
          - Inactive
        extension:
          $ref: '#/components/schemas/UserExtensionDTO'
        applicationRoles:
          type: array
          items:
            $ref: '#/components/schemas/ClientApplicationRole'
          uniqueItems: true
        metaTags:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserMetaTag'
        userGroups:
          type: array
          items:
            $ref: '#/components/schemas/UserGroup'
          uniqueItems: true
        permissionProfiles:
          type: array
          items:
            $ref: '#/components/schemas/PermissionProfile'
          uniqueItems: true
        location:
          type: string
        fullName:
          type: string
        password:
          type: string
          writeOnly: true
        accountId:
          type: string
        username:
          type: string
        credentialsNonExpired:
          type: boolean
        permissionProfileId:
          type: string
          format: uuid
        phone:
          type: string
        jobTitle:
          type: string
        expertiseList:
          type: array
          items:
            type: string
          uniqueItems: true
        modifiedById:
          type: string
    PermissionProfile:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        externalId:
          type: string
        applicationRoles:
          type: array
          items:
            $ref: '#/components/schemas/ClientApplicationRole'
          uniqueItems: true
        userGroups:
          type: array
          items:
            $ref: '#/components/schemas/PermissionProfileUserGroup'
          uniqueItems: true
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        modifiedById:
          type: string
        userCount:
          type: integer
          format: int64
        accountId:
          type: string
    PermissionProfileUserGroup:
      properties:
        name:
          type: string
        clientId:
          type: string
        permissionProfileId:
          type: string
          format: uuid
          writeOnly: true
    UserMetaTag:
      properties:
        id:
          type: string
          format: uuid
        value:
          type: string
        metaTagId:
          type: string
          format: uuid
        metaTagName:
          type: string
    SimpleUser:
      properties:
        id:
          type: string
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        nymityId:
          type: string
        nymityOrgId:
          type: string
        accountId:
          type: string
        roles:
          type: array
          items:
            type: string
    UserGroup:
      properties:
        name:
          type: string
        clientId:
          type: string
        applicationClientId:
          type: string
    ClientApplicationRole:
      properties:
        id:
          type: string
        identifier:
          type: string
        name:
          type: string
        description:
          type: string
        permissions:
          type: string
    UserExtensionDTO:
      properties:
        userMgrId:
          type: string
        timeZone:
          type: string
        locale:
          type: string
        totpEnabled:
          type: boolean
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
