openapi: 3.2.0
info:
  title: Guardian History API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: History
paths:
  /api/v1/history:
    get:
      tags:
      - History
      operationId: list_22
      parameters:
      - name: entity
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: entityId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: entityOwnerAccountId
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: createdById
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: createdByType
        in: query
        required: false
        schema:
          type: string
          enum:
          - NONE
          - LOGIN
          - USER
          - JOB
      - name: actionType
        in: query
        required: false
        schema:
          type: string
          enum:
          - UPDATE
          - PERSIST
          - REMOVE
      - name: createdStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
          description: Timestamp in seconds since epoch
      - name: createdEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
          description: Timestamp in seconds since epoch
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageHistory'
      security:
      - guardianAuth: []
      summary: List 22
      x-summary-source: derived
  /api/v1/history/creatorTypes:
    get:
      tags:
      - History
      operationId: creatorType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  enum:
                  - NONE
                  - LOGIN
                  - USER
                  - JOB
      security:
      - guardianAuth: []
      summary: Creator type
      x-summary-source: derived
  /api/v1/history/actionTypes:
    get:
      tags:
      - History
      operationId: actionTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  enum:
                  - UPDATE
                  - PERSIST
                  - REMOVE
      security:
      - guardianAuth: []
      summary: Action types
      x-summary-source: derived
components:
  schemas:
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    History:
      properties:
        id:
          type: string
          format: uuid
        createdDate:
          type: string
          format: date-time
        entity:
          type: string
        entityId:
          type: string
        previousContent:
          type: object
          additionalProperties:
            type: object
        currentContent:
          type: object
          additionalProperties:
            type: object
        createdByType:
          type: string
          enum:
          - NONE
          - LOGIN
          - USER
          - JOB
        createdById:
          type: string
        ownerAccountId:
          type: string
        actionType:
          type: string
          enum:
          - UPDATE
          - PERSIST
          - REMOVE
    PageHistory:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/History'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
