openapi: 3.2.0
info:
  title: Trustarc Accounts Pick Tags API
  version: v1
  description: 'Operations tagged Accounts-PickTags across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Accounts-PickTags
paths:
  /api/v1/picktags/{id}:
    get:
      tags:
      - Accounts-PickTags
      operationId: get_6
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - name
            - displayName
            - values
            - accountId
      - name: includeValues
        in: query
        schema: {}
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PickTag'
      security:
      - guardianAuth: []
    put:
      tags:
      - Accounts-PickTags
      operationId: update_5
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: includeValues
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickTag'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PickTag'
      security:
      - guardianAuth: []
    delete:
      tags:
      - Accounts-PickTags
      operationId: delete_4
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
    patch:
      tags:
      - Accounts-PickTags
      operationId: patch_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JsonPatch'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PickTag'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/picktags:
    get:
      tags:
      - Accounts-PickTags
      operationId: list_5
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - name
            - displayName
            - values
            - accountId
      - name: page
        in: query
        description: Results page you want to retrieve (0..N).
        schema:
          default: 0
          minimum: 0
      - name: size
        in: query
        description: Number of recods per page.
        schema:
          default: 10
          minimum: 1
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        schema:
          type: array
          items: {}
      - name: includeValues
        in: query
        schema: {}
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagePickTag'
      security:
      - guardianAuth: []
    post:
      tags:
      - Accounts-PickTags
      operationId: create_5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickTag'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PickTag'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/picktags/upload:
    post:
      tags:
      - Accounts-PickTags
      operationId: upload_1
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchJob'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/picktags/{id}/values:
    get:
      tags:
      - Accounts-PickTags
      operationId: values
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  schemas:
    JsonPatch: {}
    BatchJob:
      properties:
        id:
          type: string
        jobInstanceId:
          type: integer
          format: int64
        jobExecutionId:
          type: integer
          format: int64
        createTime:
          type: string
          format: date-time
        lastRunTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        currentStatus:
          type: string
        resourceName:
          type: string
        batchJobType:
          type: string
          enum:
          - DELETE_USER
          - IMPORT_ORG
          - IMPORT_USER
          - EXPORT_USER
          - EXPORT_USER_ACTION
          - EXPORT_USER_AUDIT_EVENTS
          - REFRESH_USER_SEARCH
          - RUN_TASK
          - TASK_UNMANAGE_PASSWORD
          - TASK_RESET_PASSWORD
          - TASK_UPDATE_PERMISSION
          - TASK_REFRESH_USER_CACHE
          - TASK_REFRESH_USER_META_CACHE
          - TASK_SFTP_PULLER
          - TASK_LOGIN_ATTEMPT_CLEANUP
          - TASK_REPORT_STORE_CLEANUP
          - TASK_STORAGE_CLEANUP
          - TASK_ACTIVATION_CLEANUP
          - TASK_API_METER_PROMOTE
          - TASK_EMAIL_LOGIN_REPORT
          - TASK_NYMITY_SYNC_ACCOUNT
          - TASK_EMAIL_FULL_LOGIN_REPORT
          - TASK_IMPORT_PICK_TAGS
          - TASK_DYNAMIC_REPORT
          - TASK_IMPORT_CUSTOM_META_TAG
          - TASK_TOKEN_EXP_EMAIL
          - TASK_EMAIL_NEW_USER_REPORT
        percentDone:
          type: integer
          format: int64
        currentMessage:
          type: string
        writeCount:
          type: integer
          format: int64
        readCount:
          type: integer
          format: int64
        totalCount:
          type: integer
          format: int64
        errors:
          type: array
          items:
            $ref: '#/components/schemas/BatchJobError'
          uniqueItems: true
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/BatchJobParameter'
        startedByUserId:
          type: string
        targetAccountId:
          type: string
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    PickTag:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        values:
          type: array
          items:
            type: string
        accountId:
          type: string
    BatchJobError:
      properties:
        entry:
          type: string
        message:
          type: string
    PagePickTag:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/PickTag'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    BatchJobParameter:
      properties:
        id:
          type: string
        name:
          type: string
        value:
          type: string
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
