openapi: 3.2.0
info:
  title: Trustarc User Profiles Activations API
  version: v1
  description: 'Operations tagged UserProfiles-Activations across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: UserProfiles-Activations
paths:
  /api/v1/userprofiles/{userId}/activations:
    get:
      tags:
      - UserProfiles-Activations
      operationId: listByUser
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: columnName
        in: query
        required: false
        schema:
          type: string
          default: userProfile.id
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - NewUser
          - PasswordReset
      - name: isExpired
        in: query
        required: false
        schema:
          type: boolean
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageUserActivation'
      security:
      - guardianAuth: []
    delete:
      tags:
      - UserProfiles-Activations
      operationId: deleteByUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /api/v1/userprofiles/activations:
    get:
      tags:
      - UserProfiles-Activations
      operationId: list_16
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: columnName
        in: query
        required: false
        schema:
          type: string
          default: userProfile.id
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - NewUser
          - PasswordReset
      - name: isExpired
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageUserActivation'
      security:
      - guardianAuth: []
    delete:
      tags:
      - UserProfiles-Activations
      operationId: deleteExpired
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  schemas:
    UserActivation:
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - NewUser
          - PasswordReset
        code:
          type: string
        expirationDate:
          type: string
          format: date-time
        expired:
          type: boolean
        user:
          $ref: '#/components/schemas/UserProfile'
        userProfileId:
          type: string
    SortObject:
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    PageableObject:
      properties:
        paged:
          type: boolean
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/SortObject'
        unpaged:
          type: boolean
    PageUserActivation:
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/PageableObject'
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/UserActivation'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/SortObject'
        first:
          type: boolean
        last:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    UserProfile:
      properties:
        id:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        username:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
          writeOnly: true
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        jobTitle:
          type: string
        expertiseList:
          type: string
        timeZone:
          type: string
        locale:
          type: string
        status:
          type: string
          enum:
          - Active
          - Inactive
        credentialsNonExpired:
          type: boolean
        userCount:
          type: integer
          format: int64
        totpEnabled:
          type: boolean
        modifiedById:
          type: string
      required:
      - password
      - username
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
