openapi: 3.2.0
info:
  title: Trustarc Groups API
  version: v1
  description: 'Operations tagged Groups across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Groups
paths:
  /external/api/v2/scim/Groups/{id}:
    get:
      tags:
      - Groups
      operationId: get_2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: attributes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - externalId
            - meta
            - schemas
            - extensionValues
            - displayName
            - members
      - name: excludedAttributes
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - externalId
            - meta
            - schemas
            - extensionValues
            - displayName
            - members
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScimGroupResource'
      security:
      - guardianAuth: []
    put:
      tags:
      - Groups
      operationId: update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimGroupResource'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScimGroupResource'
      security:
      - guardianAuth: []
    delete:
      tags:
      - Groups
      operationId: delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
    patch:
      tags:
      - Groups
      operationId: patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRequest'
            example:
              schemas:
              - urn:ietf:params:scim:api:messages:2.0:PatchOp
              Operations:
              - path: members
                op: add
                value:
                - value: userId
        required: true
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
  /external/api/v2/scim/Groups:
    get:
      tags:
      - Groups
      operationId: list
      parameters:
      - name: count
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: startIndex
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: filter
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: attributes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - externalId
            - meta
            - schemas
            - extensionValues
            - displayName
            - members
      - name: excludedAttributes
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - externalId
            - meta
            - schemas
            - extensionValues
            - displayName
            - members
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListResponseScimGroupResource'
      security:
      - guardianAuth: []
    post:
      tags:
      - Groups
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimGroupResource'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScimGroupResource'
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  schemas:
    Meta:
      properties:
        resourceType:
          type: string
        created:
          type: string
          format: date-time
        lastModified:
          type: string
          format: date-time
        location:
          type: string
          format: uri
        version:
          type: string
        createdMillis:
          $ref: '#/components/schemas/Meta'
        lastModifiedMillis:
          $ref: '#/components/schemas/Meta'
    PatchRequest:
      properties:
        schemas:
          type: array
          items:
            type: string
          uniqueItems: true
        id:
          type: string
        externalId:
          type: string
        Operations:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/AddOperation'
            - $ref: '#/components/schemas/RemoveOperation'
            - $ref: '#/components/schemas/ReplaceOperation'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - Operations
    RemoveOperation:
      allOf:
      - $ref: '#/components/schemas/PatchOperation'
      - type: object
        properties:
          value:
            $ref: '#/components/schemas/JsonNode'
      required:
      - path
    ListResponseScimGroupResource:
      properties:
        schemas:
          type: array
          items:
            type: string
          uniqueItems: true
        totalResults:
          type: integer
          format: int32
        startIndex:
          type: integer
          format: int32
        itemsPerPage:
          type: integer
          format: int32
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/ScimGroupResource'
      required:
      - Resources
    ScimGroupResource:
      properties:
        schemas:
          type: array
          items:
            type: string
          uniqueItems: true
        id:
          type: string
        externalId:
          type: string
        meta:
          $ref: '#/components/schemas/Meta'
        displayName:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/ScimMember'
    AddOperation:
      allOf:
      - $ref: '#/components/schemas/PatchOperation'
      - type: object
        properties:
          value:
            $ref: '#/components/schemas/JsonNode'
    ReplaceOperation:
      allOf:
      - $ref: '#/components/schemas/PatchOperation'
      - type: object
        properties:
          value:
            $ref: '#/components/schemas/JsonNode'
    PatchOperation:
      discriminator:
        propertyName: op
      properties:
        path:
          type: string
        removeOpValue:
          oneOf:
          - $ref: '#/components/schemas/AddOperation'
          - $ref: '#/components/schemas/RemoveOperation'
          - $ref: '#/components/schemas/ReplaceOperation'
          writeOnly: true
        op:
          type: string
      required:
      - op
    JsonNode:
      properties:
        container:
          type: boolean
        integralNumber:
          type: boolean
        string:
          type: boolean
        missingNode:
          type: boolean
        valueNode:
          type: boolean
        object:
          type: boolean
        pojo:
          type: boolean
        floatingPointNumber:
          type: boolean
        short:
          type: boolean
        int:
          type: boolean
        long:
          type: boolean
        double:
          type: boolean
        bigDecimal:
          type: boolean
        bigInteger:
          type: boolean
        textual:
          type: boolean
          deprecated: true
        boolean:
          type: boolean
        binary:
          type: boolean
        array:
          type: boolean
        empty:
          type: boolean
        'null':
          type: boolean
        float:
          type: boolean
        nodeType:
          type: string
          enum:
          - ARRAY
          - BINARY
          - BOOLEAN
          - MISSING
          - 'NULL'
          - NUMBER
          - OBJECT
          - POJO
          - STRING
        number:
          type: boolean
        embeddedValue:
          type: boolean
    ScimMember:
      properties:
        value:
          type: string
        display:
          type: string
        type:
          type: string
        $ref:
          type: string
          format: uri
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
