openapi: 3.2.0
info:
  title: Trustarc Anon Session Controller API
  version: v1
  description: 'Operations tagged anon-session-controller across 2 of this provider''s published API definitions: trustarc-guardian-openapi.json, trustarc-guardian-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: anon-session-controller
paths:
  /ex-services/session:
    get:
      tags:
      - anon-session-controller
      operationId: get_17
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CookieState'
      security:
      - guardianAuth: []
    post:
      tags:
      - anon-session-controller
      operationId: post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CookieState'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CookieState'
      security:
      - guardianAuth: []
    delete:
      tags:
      - anon-session-controller
      operationId: delete_15
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
    servers:
    - url: https://login.truste.com
      description: Generated server url
components:
  schemas:
    CookieState:
      properties:
        maxInactive:
          type: integer
          format: int64
        remainTime:
          type: integer
          format: int64
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
x-refined-from:
- trustarc-guardian-openapi.json
- trustarc-guardian-openapi.yml
