openapi: 3.2.0
info:
  title: Guardian Clients Extension API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: Clients-Extension
paths:
  /api/v1/clients/{clientId}/extension:
    get:
      tags:
      - Clients-Extension
      operationId: get_19
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClientExtension'
      security:
      - guardianAuth: []
      summary: Get 19
      x-summary-source: derived
    post:
      tags:
      - Clients-Extension
      operationId: upsert_6
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientExtension'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClientExtension'
      security:
      - guardianAuth: []
      summary: Upsert 6
      x-summary-source: derived
    delete:
      tags:
      - Clients-Extension
      operationId: delete_17
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
      summary: Delete 17
      x-summary-source: derived
components:
  schemas:
    ClientExtensionLicense:
      properties:
        id:
          type: string
          format: uuid
        identifier:
          type: string
        name:
          type: string
    ClientExtensionAttribute:
      properties:
        id:
          type: string
          format: uuid
        identifier:
          type: string
        displayName:
          type: string
    ClientExtension:
      properties:
        id:
          type: string
          format: uuid
        licenses:
          type: array
          items:
            $ref: '#/components/schemas/ClientExtensionLicense'
          uniqueItems: true
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ClientExtensionAttribute'
          uniqueItems: true
        accountRegistrationUri:
          type: string
        clientSecretChangedDate:
          type: string
          format: date-time
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
