openapi: 3.2.0
info:
  title: Guardian Anon Session Controller API
  description: Guardian Authentication
  version: v1
servers:
- url: https://login.truste.com
  description: Generated server url
tags:
- name: anon-session-controller
paths:
  /ex-services/session:
    get:
      tags:
      - anon-session-controller
      operationId: get_17
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CookieState'
      security:
      - guardianAuth: []
      summary: Get 17
      x-summary-source: derived
    post:
      tags:
      - anon-session-controller
      operationId: post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CookieState'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CookieState'
      security:
      - guardianAuth: []
      summary: Post
      x-summary-source: derived
    delete:
      tags:
      - anon-session-controller
      operationId: delete_15
      responses:
        '204':
          description: No Content
      security:
      - guardianAuth: []
      summary: Delete 15
      x-summary-source: derived
components:
  schemas:
    CookieState:
      properties:
        maxInactive:
          type: integer
          format: int64
        remainTime:
          type: integer
          format: int64
  securitySchemes:
    guardianAuth:
      type: oauth2
      scheme: bearer
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://login.truste.com/oauth/authorize
          tokenUrl: https://login.truste.com/oauth/token
          scopes:
            openid: OpenID
