{"openapi":"3.1.0","info":{"title":"Guardian","description":"Guardian Authentication","version":"v1"},"servers":[{"url":"https://login.truste.com","description":"Generated server url"}],"tags":[{"name":"Actuator","description":"Monitor and interact","externalDocs":{"description":"Spring Boot Actuator Web API Documentation","url":"https://docs.spring.io/spring-boot/docs/current/actuator-api/html/"}}],"paths":{"/oauth/userinfo":{"get":{"tags":["user-info-resource"],"operationId":"get","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["user-info-resource"],"operationId":"get_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v2/scim/Users/{id}":{"get":{"tags":["Users"],"operationId":"getUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["groups"]}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Users"],"operationId":"updateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["groups"]}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Users"],"operationId":"deleteUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]},"patch":{"tags":["Users"],"operationId":"patchUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["groups"]}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v2/scim/Groups/{id}":{"get":{"tags":["Groups"],"operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","externalId","meta","schemas","extensionValues","displayName","members"]}}},{"name":"excludedAttributes","in":"query","schema":{"type":"array","items":{"type":"string","enum":["id","externalId","meta","schemas","extensionValues","displayName","members"]}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimGroupResource"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Groups"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScimGroupResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimGroupResource"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Groups"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]},"patch":{"tags":["Groups"],"operationId":"patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRequest"},"example":{"schemas":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"Operations":[{"path":"members","op":"add","value":[{"value":"userId"}]}]}}},"required":true},"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/xauth_configs/{id}":{"get":{"tags":["Xauths"],"operationId":"get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAuthConfig"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Xauths"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAuthConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAuthConfig"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Xauths"],"operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}":{"get":{"tags":["Users"],"operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Users"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"includeUserGroups","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Users"],"operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/nymity":{"put":{"tags":["Users"],"operationId":"updateNymityId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"nymityId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{userProfId}/users/{userId}":{"put":{"tags":["UserProfiles-Users"],"operationId":"update_3","parameters":[{"name":"userProfId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUser"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUser"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{id}":{"get":{"tags":["UserProfiles"],"operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","username","password","firstName","lastName","phone","jobTitle","expertiseList","timeZone","locale","status","credentialsNonExpired","userCount","totpEnabled","currentUser","root"]}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["UserProfiles"],"operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["UserProfiles"],"operationId":"delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/picktags/{id}":{"get":{"tags":["Accounts-PickTags"],"operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","name","displayName","values","accountId"]}}},{"name":"includeValues","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PickTag"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Accounts-PickTags"],"operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"includeValues","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PickTag"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PickTag"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Accounts-PickTags"],"operationId":"delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]},"patch":{"tags":["Accounts-PickTags"],"operationId":"patch_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/JsonPatch"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PickTag"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/permission-profiles/{id}":{"get":{"tags":["PermissionProfiles"],"operationId":"get_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PermissionProfile"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["PermissionProfiles"],"operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionProfile"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PermissionProfile"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["PermissionProfiles"],"operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/navigation-menus/{menuId}":{"get":{"tags":["Navigation-Menus"],"operationId":"get_8","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationMenu"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Navigation-Menus"],"operationId":"update_7","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationMenu"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationMenu"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Navigation-Menus"],"operationId":"delete_6","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/entityconfigs/{id}":{"get":{"tags":["Entity Configs"],"operationId":"get_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityConfig"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Entity Configs"],"operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityConfig"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Entity Configs"],"operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"guardianAuth":[]}]}},"/api/v1/emailtemplates/{id}":{"get":{"tags":["Email Templates"],"operationId":"get_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerEmailTemplate"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Email Templates"],"operationId":"update_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerEmailTemplate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerEmailTemplate"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Email Templates"],"operationId":"delete_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/clients/{id}":{"get":{"tags":["Clients"],"operationId":"get_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ClientApplication"},{"$ref":"#/components/schemas/CustomerClientApplication"},{"$ref":"#/components/schemas/InternalClientApplication"}]}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Clients"],"operationId":"update_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ClientApplication"},{"$ref":"#/components/schemas/CustomerClientApplication"},{"$ref":"#/components/schemas/InternalClientApplication"}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ClientApplication"},{"$ref":"#/components/schemas/CustomerClientApplication"},{"$ref":"#/components/schemas/InternalClientApplication"}]}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Clients"],"operationId":"delete_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{id}":{"get":{"tags":["Accounts"],"operationId":"get_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","legalName","businessName","prefixName","logo","confirmMessage","mailingAsPhysical","netSuiteId","nymityId","status","allowedDomains","internalOnly","mailingAddress","physicalAddress","businessType","industryType","application","extension","type","userCount","metaTags"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccount"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Accounts"],"operationId":"update_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"includeExtension","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccount"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAccount"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Accounts"],"operationId":"delete_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{id}/organizational-structure":{"put":{"tags":["Accounts-OrganizationalStructure"],"operationId":"update_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationalStructureDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationalStructureDTO"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{accountId}/prefaces/{prefaceId}":{"get":{"tags":["Accounts-Prefaces"],"operationId":"get_13","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"prefaceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountPreface"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Accounts-Prefaces"],"operationId":"update_13","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"prefaceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountPreface"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountPreface"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Accounts-Prefaces"],"operationId":"delete_11","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"prefaceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{accountId}/metatags/{metaTagId}":{"put":{"tags":["Accounts-MetaTags"],"operationId":"update_14","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"metaTagId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaTag"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MetaTag"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Accounts-MetaTags"],"operationId":"delete_12","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"metaTagId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{accountId}/extension":{"get":{"tags":["Accounts-Extension"],"operationId":"get_14","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountExtension"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Accounts-Extension"],"operationId":"upsert","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountExtension"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAccountExtension"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{accountId}/extension/licenses/clients/clientid/{clientId}":{"get":{"tags":["Accounts-Extension"],"operationId":"getAccountLicense","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAccountExtensionClientExtensionLicense"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Accounts-Extension"],"operationId":"updateAccountLicense","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountExtensionClientExtensionLicense"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAccountExtensionClientExtensionLicense"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/reportconfigs/{id}":{"get":{"tags":["Accounts-ReportConfigs"],"operationId":"get_15","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountReportConfig"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Accounts-ReportConfigs"],"operationId":"update_15","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountReportConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountReportConfig"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Accounts-ReportConfigs"],"operationId":"delete_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/custommetatags/{id}":{"get":{"tags":["Accounts-CustomMetaTags"],"operationId":"get_16","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomMetaTag"}}}}},"security":[{"guardianAuth":[]}]},"put":{"tags":["Accounts-CustomMetaTags"],"operationId":"update_16","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomMetaTag"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomMetaTag"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Accounts-CustomMetaTags"],"operationId":"delete_14","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/services/anonymous/xauths":{"post":{"tags":["sso-login-controller"],"operationId":"getUserSSOCOnfig","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"username":{"type":"string"}},"required":["username"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSSOConfig"}}}}},"security":[{"guardianAuth":[]}]}},"/services/anonymous/user/{username}/password/reset":{"post":{"tags":["anon-credential-resource"],"operationId":"resetPassword","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/services/anonymous/user/password/reset":{"post":{"tags":["anon-credential-resource"],"operationId":"resetPasswordInQuery","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/external/api/v2/scim/Users":{"get":{"tags":["Users"],"operationId":"getUsers","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"startIndex","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"filter","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"attributes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["groups"]}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseScimUserResource"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Users"],"operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v2/scim/Groups":{"get":{"tags":["Groups"],"operationId":"list","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"startIndex","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"filter","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"attributes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","externalId","meta","schemas","extensionValues","displayName","members"]}}},{"name":"excludedAttributes","in":"query","schema":{"type":"array","items":{"type":"string","enum":["id","externalId","meta","schemas","extensionValues","displayName","members"]}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseScimGroupResource"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Groups"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScimGroupResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimGroupResource"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v1/users":{"post":{"tags":["Users"],"operationId":"upsert_1","parameters":[{"name":"hardUpdateRoles","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v1/users/batch":{"post":{"tags":["Users"],"operationId":"upsertAll","parameters":[{"name":"hardUpdateRoles","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserCredentials"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpsertResult"}}}}},"security":[{"guardianAuth":[]}]}},"/ex-services/session":{"get":{"tags":["anon-session-controller"],"operationId":"get_17","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CookieState"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["anon-session-controller"],"operationId":"post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CookieState"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CookieState"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["anon-session-controller"],"operationId":"delete_15","responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/xauth_configs":{"get":{"tags":["Xauths"],"operationId":"list_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"columnName","in":"query","required":false,"schema":{"type":"string","default":"displayName"}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"appType","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"modifiedStart","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}},{"name":"modifiedEnd","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageExternalAuthConfig"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Xauths"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAuthConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAuthConfig"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users":{"get":{"tags":["Users"],"operationId":"list_2","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"columnName","in":"query","required":false,"schema":{"type":"array","default":["username"],"items":{"type":"string"}}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["Active","Inactive"]}},{"name":"isNotPending","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"location","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"showSubAccounts","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"applications","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"role","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"userGroups","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"orgId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"username","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"modifiedStart","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}},{"name":"modifiedEnd","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}},{"name":"passwordStatus","in":"query","required":false,"schema":{"type":"string","enum":["TRUSTARC_MANAGED","SSO_AUTHENTICATION","EXPIRED"]}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageUserCredentials"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Users"],"operationId":"create_2","parameters":[{"name":"sendPasswordReset","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"totpEnabled","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{userId}/metatags":{"get":{"tags":["Users-MetaTags"],"operationId":"list_3","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"required","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"metaTagNames","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEntryStringString"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Users-MetaTags"],"operationId":"upsertAll_1","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{userId}/metatag":{"post":{"tags":["Users-MetaTags"],"operationId":"upsertOne","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string"},"key":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","properties":{"value":{"type":"string"},"key":{"type":"string"}}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/unmanagepassword":{"post":{"tags":["Users"],"operationId":"unmanagePassword","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/unlockpassword":{"post":{"tags":["Users"],"operationId":"unlockPassword","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/totp/reset":{"post":{"tags":["Users"],"operationId":"resetTotp","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/totp/enable":{"post":{"tags":["Users"],"operationId":"enableTotp","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/totp/disable":{"post":{"tags":["Users"],"operationId":"disableTotp","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/resetpassword":{"post":{"tags":["Users"],"operationId":"resetPassword_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"expHrsVal","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/enable":{"post":{"tags":["Users"],"operationId":"enable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/disable":{"post":{"tags":["Users"],"operationId":"disable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{id}/confirmcredentials":{"post":{"tags":["Users"],"operationId":"confirmCredentials","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/simple":{"post":{"tags":["Users-Simple"],"operationId":"createSimple","parameters":[{"name":"sendPasswordReset","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleUser"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/search/refresh":{"post":{"tags":["Users"],"operationId":"searchRefresh","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/enable":{"post":{"tags":["Users"],"operationId":"enableAllIn","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserCredentials"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/disable":{"post":{"tags":["Users"],"operationId":"disableAllIn","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserCredentials"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/confirmcredentials":{"post":{"tags":["Users"],"operationId":"confirmCredsAllIn","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserCredentials"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{userProfId}/users":{"get":{"tags":["UserProfiles-Users"],"operationId":"listById","parameters":[{"name":"userProfId","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageUserProfileUser"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["UserProfiles-Users"],"operationId":"create_3","parameters":[{"name":"userProfId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUser"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{id}/totp/reset":{"post":{"tags":["UserProfiles"],"operationId":"resetTotpSecret","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{id}/totp/enable":{"post":{"tags":["UserProfiles"],"operationId":"enableTotp_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{id}/totp/disable":{"post":{"tags":["UserProfiles"],"operationId":"disableTotp_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{id}/totp/disable/own":{"post":{"tags":["UserProfiles"],"operationId":"disableTotp_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpBodyDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{id}/enable":{"post":{"tags":["UserProfiles"],"operationId":"enable_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{id}/disable":{"post":{"tags":["UserProfiles"],"operationId":"disable_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/{id}/confirmcredentials":{"post":{"tags":["UserProfiles"],"operationId":"confirmCredentials_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/default/{userId}":{"post":{"tags":["UserProfiles-Users"],"operationId":"setDefault","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUser"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/userprofiles/confirmcredentials":{"post":{"tags":["UserProfiles"],"operationId":"confirmCredentials_2","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserProfile"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/translations":{"post":{"tags":["Translations"],"operationId":"upsert_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Translation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Translation"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/translations/screen/{screen}/locale/{locale}":{"get":{"tags":["Translations"],"operationId":"fetchByScreenAndLocale","parameters":[{"name":"screen","in":"path","required":true,"schema":{"type":"string","enum":["TOP_HEADER","ADMIN","USER_PROFILE"]}},{"name":"locale","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Translation"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Translations"],"operationId":"uploadCsvTranslation","parameters":[{"name":"screen","in":"path","required":true,"schema":{"type":"string","enum":["TOP_HEADER","ADMIN","USER_PROFILE"]}},{"name":"locale","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK"}},"security":[{"guardianAuth":[]}]}},"/api/v1/storage":{"post":{"tags":["Storage"],"operationId":"upload","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}},"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoredObject"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Storage"],"operationId":"deleteAllUnused","responses":{"200":{"description":"OK"}},"security":[{"guardianAuth":[]}]}},"/api/v1/reports":{"get":{"tags":["Reports"],"operationId":"list_4","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"reportStoreType","in":"query","required":false,"schema":{"type":"string","enum":["EXPORT_USER","EXPORT_USER_ACTION","EXPORT_USER_AUDIT_EVENTS","EXPORT_LOGIN_REPORT","EXPORT_FULL_LOGIN_REPORT","EXPORT_USER_GROUP","EXPORT_NEW_USER_REPORT"]}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageReportStore"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Reports"],"operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportStoreRequest"}}},"required":true},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"202":{"description":"Accepted"}},"security":[{"guardianAuth":[]}]}},"/api/v1/picktags":{"get":{"tags":["Accounts-PickTags"],"operationId":"list_5","parameters":[{"name":"accountId","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","name","displayName","values","accountId"]}}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}},{"name":"includeValues","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePickTag"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Accounts-PickTags"],"operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PickTag"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PickTag"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/picktags/upload":{"post":{"tags":["Accounts-PickTags"],"operationId":"upload_1","parameters":[{"name":"accountId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}},"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchJob"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/permission-profiles":{"get":{"tags":["PermissionProfiles"],"operationId":"list_6","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePermissionProfile"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["PermissionProfiles"],"operationId":"create_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionProfile"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PermissionProfile"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/permission-profiles/{id}/users":{"get":{"tags":["PermissionProfiles"],"operationId":"findUsers","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SimpleUserPermission"}}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["PermissionProfiles"],"operationId":"updateUserPermissions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["PermissionProfiles"],"operationId":"removeUserPermissions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/nymity/sync":{"post":{"tags":["Nymity"],"operationId":"sync","parameters":[{"name":"accountId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchJob"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/navigation-menus":{"get":{"tags":["Navigation-Menus"],"operationId":"list_7","parameters":[{"name":"clientId","in":"query","required":false,"schema":{"type":"string"}},{"name":"parentId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationMenu"}}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Navigation-Menus"],"operationId":"create_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationMenu"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationMenu"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/navigation-menus/order":{"post":{"tags":["Navigation-Menus"],"operationId":"order","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationMenu"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/licenses/identifier/{licenseIdentifier}/attributes/identifier/{attributeIdentifier}":{"get":{"tags":["Clients-Extension-License"],"operationId":"getLincenseAttributes","parameters":[{"name":"licenseIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeIdentifier","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientExtensionLicenseAttribute"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Clients-Extension-License"],"operationId":"upsert_3","parameters":[{"name":"licenseIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeIdentifier","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientExtensionLicenseAttribute"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientExtensionLicenseAttribute"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/jobs":{"get":{"tags":["Jobs"],"operationId":"list_8","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"columnName","in":"query","required":false,"schema":{"type":"string","default":"lastRunTime"}},{"name":"currentStatus","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["COMPLETED","STARTING","STARTED","STOPPING","STOPPED","FAILED","ABANDONED","UNKNOWN"]}}},{"name":"jobTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["DELETE_USER","IMPORT_ORG","IMPORT_USER","EXPORT_USER","EXPORT_USER_ACTION","EXPORT_USER_AUDIT_EVENTS","REFRESH_USER_SEARCH","RUN_TASK","TASK_UNMANAGE_PASSWORD","TASK_RESET_PASSWORD","TASK_UPDATE_PERMISSION","TASK_REFRESH_USER_CACHE","TASK_REFRESH_USER_META_CACHE","TASK_SFTP_PULLER","TASK_LOGIN_ATTEMPT_CLEANUP","TASK_REPORT_STORE_CLEANUP","TASK_STORAGE_CLEANUP","TASK_ACTIVATION_CLEANUP","TASK_API_METER_PROMOTE","TASK_EMAIL_LOGIN_REPORT","TASK_NYMITY_SYNC_ACCOUNT","TASK_EMAIL_FULL_LOGIN_REPORT","TASK_IMPORT_PICK_TAGS","TASK_DYNAMIC_REPORT","TASK_IMPORT_CUSTOM_META_TAG","TASK_TOKEN_EXP_EMAIL","TASK_EMAIL_NEW_USER_REPORT"]}}},{"name":"targetAccountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"startedByUserId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"startedByAccountId","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageBatchJob"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Jobs"],"operationId":"create_8","parameters":[{"name":"jobType","in":"query","required":false,"schema":{"type":"string","default":"IMPORT_USER","enum":["DELETE_USER","IMPORT_ORG","IMPORT_USER","EXPORT_USER","EXPORT_USER_ACTION","EXPORT_USER_AUDIT_EVENTS","REFRESH_USER_SEARCH","RUN_TASK","TASK_UNMANAGE_PASSWORD","TASK_RESET_PASSWORD","TASK_UPDATE_PERMISSION","TASK_REFRESH_USER_CACHE","TASK_REFRESH_USER_META_CACHE","TASK_SFTP_PULLER","TASK_LOGIN_ATTEMPT_CLEANUP","TASK_REPORT_STORE_CLEANUP","TASK_STORAGE_CLEANUP","TASK_ACTIVATION_CLEANUP","TASK_API_METER_PROMOTE","TASK_EMAIL_LOGIN_REPORT","TASK_NYMITY_SYNC_ACCOUNT","TASK_EMAIL_FULL_LOGIN_REPORT","TASK_IMPORT_PICK_TAGS","TASK_DYNAMIC_REPORT","TASK_IMPORT_CUSTOM_META_TAG","TASK_TOKEN_EXP_EMAIL","TASK_EMAIL_NEW_USER_REPORT"]}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"permissionProfileId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"customMetaTagId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"applications","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"applicationRoles","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"userGroups","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"hardUpdateRoles","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"userIds","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"actionType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"recipients","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"excludePatterns","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"createdStart","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}},{"name":"createdEnd","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}},"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchJob"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/entityconfigs":{"get":{"tags":["Entity Configs"],"operationId":"list_9","parameters":[{"name":"entity","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"entityId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"key","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageEntityConfig"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Entity Configs"],"operationId":"create_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityConfig"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/entityconfigs/upsert":{"post":{"tags":["Entity Configs"],"operationId":"upsert_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityConfig"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/emailtemplates":{"get":{"tags":["Email Templates"],"operationId":"list_10","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"emailTemplateType","in":"query","required":false,"schema":{"type":"string","enum":["FORGOT_PASSWORD","NEW_USER","IMPORT_JOB","EXPORT_JOB","LOGIN_REPORT","FULL_LOGIN_REPORT","EXPIRE_TOKEN","OTP","NEW_USER_REPORT"]}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCustomerEmailTemplate"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Email Templates"],"operationId":"create_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerEmailTemplate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerEmailTemplate"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/clients":{"get":{"tags":["Clients"],"operationId":"list_11","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"columnName","in":"query","required":false,"schema":{"type":"string","default":"clientName"}},{"name":"showontopheader","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"userId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"usingUserRolesOrGroups","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"usingUserGroups","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","default":"Internal","enum":["Internal","Customer"]}},{"name":"modifiedStart","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}},{"name":"modifiedEnd","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageClientApplication"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Clients"],"operationId":"create_11","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ClientApplication"},{"$ref":"#/components/schemas/CustomerClientApplication"},{"$ref":"#/components/schemas/InternalClientApplication"}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ClientApplication"},{"$ref":"#/components/schemas/CustomerClientApplication"},{"$ref":"#/components/schemas/InternalClientApplication"}]}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/clients/{id}/roles":{"get":{"tags":["Clients"],"operationId":"getRoles","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientApplicationRole"},"uniqueItems":true}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Clients"],"operationId":"createRoles","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientApplicationRole"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientApplicationRole"},"uniqueItems":true}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/clients/{id}/key/reset":{"post":{"tags":["Clients"],"operationId":"resetKey","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientApplicationKey"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/clients/{clientId}/usergroups/move":{"post":{"tags":["Clients-UserGroups"],"operationId":"moveUserGroup","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"previousName","in":"query","required":true,"schema":{"type":"string"}},{"name":"currentName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/clients/{clientId}/usergroupinfo":{"get":{"tags":["Clients-UserGroups"],"operationId":"get_18","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientUserGroup"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Clients-UserGroups"],"operationId":"upsert_5","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientUserGroup"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientUserGroup"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Clients-UserGroups"],"operationId":"delete_16","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/clients/{clientId}/extension":{"get":{"tags":["Clients-Extension"],"operationId":"get_19","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientExtension"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Clients-Extension"],"operationId":"upsert_6","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientExtension"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClientExtension"}}}}},"security":[{"guardianAuth":[]}]},"delete":{"tags":["Clients-Extension"],"operationId":"delete_17","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/clients/metrics/promote":{"post":{"tags":["Clients"],"operationId":"promote","responses":{"204":{"description":"No Content"}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts":{"get":{"tags":["Accounts"],"operationId":"list_12","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"columnName","in":"query","required":false,"schema":{"type":"array","default":["legalName"],"items":{"type":"string"}}},{"name":"legalName","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"businessName","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"status","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"location","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"numberUsers","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"showSubAccounts","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"applications","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"licenses","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"modifiedStart","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}},{"name":"modifiedEnd","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}},{"name":"isInternalOnly","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","legalName","businessName","prefixName","logo","confirmMessage","mailingAsPhysical","netSuiteId","nymityId","status","allowedDomains","internalOnly","mailingAddress","physicalAddress","businessType","industryType","application","extension","type","userCount","metaTags"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCustomerAccount"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Accounts"],"operationId":"create_12","parameters":[{"name":"includeExtension","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccount"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccount"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{id}/users/upload":{"get":{"tags":["Accounts"],"operationId":"uploadStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Accounts"],"operationId":"uploadUsers","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchJob"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{id}/tasks":{"post":{"tags":["Accounts"],"operationId":"tasks","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskType","in":"query","required":true,"schema":{"type":"string","enum":["UNMANAGE_PASSWORD","RESET_PASSWORD"]}},{"name":"userIds","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK"}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{id}/enable":{"post":{"tags":["Accounts"],"operationId":"enable_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAccount"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{id}/disable":{"post":{"tags":["Accounts"],"operationId":"disable_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAccount"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{id}/activations":{"post":{"tags":["Accounts"],"operationId":"activation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Response"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{accountId}/userGroups/{tagGroupId}/download":{"post":{"tags":["Accounts-UserGroups"],"operationId":"downloadUserGroups","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tagGroupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportStore"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{accountId}/tokens":{"get":{"tags":["Accounts-Tokens"],"operationId":"list_13","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountLongExpToken"}}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Accounts-Tokens"],"operationId":"create_13","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"query","required":false,"schema":{"type":"string"}},{"name":"expiresOn","in":"query","required":false,"schema":{"type":"string","default":"P1Y","enum":["P6M","P1Y","P1Y6M","P2Y"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountLongExpToken"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{accountId}/prefaces":{"get":{"tags":["Accounts-Prefaces"],"operationId":"listByAccount","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCustomerAccountPreface"}}}}},"security":[{"guardianAuth":[]}]},"post":{"tags":["Accounts-Prefaces"],"operationId":"create_14","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountPreface"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountPreface"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{accountId}/metatags/create":{"post":{"tags":["Accounts-MetaTags"],"operationId":"create_15","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetaTag"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MetaTag"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/{accountId}/extension/runFilePuller":{"post":{"tags":["Accounts-Extension"],"operationId":"runFilePuller","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountExtension"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/reportconfigs":{"post":{"tags":["Accounts-ReportConfigs"],"operationId":"create_16","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountReportConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountReportConfig"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/custommetatags":{"post":{"tags":["Accounts-CustomMetaTags"],"operationId":"create_17","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomMetaTag"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomMetaTag"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/accounts/custommetatags/{id}/values/upload":{"post":{"tags":["Accounts-CustomMetaTags"],"operationId":"uploadMetaTags","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}},"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchJob"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v2/scim/ServiceProviderConfig":{"get":{"tags":["Scim"],"operationId":"getServiceProviderConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceProviderConfigResource"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v2/scim/Schemas":{"get":{"tags":["Scim"],"operationId":"getSchemas","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSchemaResource"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v2/scim/Schemas/{resource}":{"get":{"tags":["Scim"],"operationId":"getSchema","parameters":[{"name":"resource","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SchemaResource"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v2/scim/ResourceTypes":{"get":{"tags":["Scim"],"operationId":"getResourceTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseResourceTypeResource"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v2/scim/ResourceTypes/{resource}":{"get":{"tags":["Scim"],"operationId":"getResourceType","parameters":[{"name":"resource","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceTypeResource"}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v1/users/externalIds":{"get":{"tags":["Users"],"operationId":"getByExternalIds","parameters":[{"name":"externalIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/UserCredentials"}}}}}},"security":[{"guardianAuth":[]}]}},"/external/api/v1/users/externalId":{"get":{"tags":["Users"],"operationId":"getByExternalId","parameters":[{"name":"externalId","in":"query","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/xauth_configs/{id}/metatags":{"get":{"tags":["Xauths"],"operationId":"listMetaTags","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageEntryStringString"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/xauth_configs/metadata":{"get":{"tags":["Xauths"],"operationId":"getMetadata","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{userId}/metatags/{metaTagName}":{"get":{"tags":["Users-MetaTags"],"operationId":"get_20","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"metaTagName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","properties":{"value":{"type":"string"},"key":{"type":"string"}}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/{userId}/extension":{"get":{"tags":["Users-Extension"],"operationId":"get_21","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserExtensionDTO"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/username_account":{"get":{"tags":["Users"],"operationId":"getByUserNameAndAccountId","parameters":[{"name":"userName","in":"query","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"query","required":true,"schema":{"type":"string"}},{"name":"matchOne","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserCredentials"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/username/{username}":{"get":{"tags":["Users"],"operationId":"getByUserName","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/switchtos":{"get":{"tags":["Users-Switch"],"operationId":"listSwitchUser","parameters":[{"name":"clientId","in":"query","required":true,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageUserSwitchDTO"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/search":{"get":{"tags":["Users"],"operationId":"search","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"roles","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"status","in":"query","required":false,"schema":{"type":"array","default":["ACTIVE"],"items":{"type":"string","enum":["ACTIVE","INACTIVE","PENDING"]}}},{"name":"orRolesFilter","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"userIds","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceUserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/nymity/{nymityId}":{"get":{"tags":["Users"],"operationId":"getByNymityId","parameters":[{"name":"nymityId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/metatags/search":{"get":{"tags":["Users-MetaTags"],"operationId":"search_1","parameters":[{"name":"primaryTag","in":"query","required":true,"schema":{"type":"string"}},{"name":"value","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"supplementaryTags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SliceUserMetaTagSearchDTO"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/listoffset":{"get":{"tags":["Users"],"operationId":"listOffset","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"Active","enum":["Active","Inactive"]}},{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceUserCredentials"}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/list":{"get":{"tags":["Users"],"operationId":"list_14","parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["Active","Inactive"]}},{"name":"isNotPending","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"location","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"showSubAccounts","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"applications","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"role","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"userGroups","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"orgId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"username","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"modifiedStart","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}},{"name":"modifiedEnd","in":"query","required":false,"schema":{"type":"integer","format":"int64","description":"Timestamp in seconds since epoch"}},{"name":"passwordStatus","in":"query","required":false,"schema":{"type":"string","enum":["TRUSTARC_MANAGED","SSO_AUTHENTICATION","EXPIRED"]}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N).","schema":{"default":0,"minimum":0}},{"name":"size","in":"query","description":"Number of recods per page.","schema":{"default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserCredentials"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/ids":{"get":{"tags":["Users"],"operationId":"getUserByIds","parameters":[{"name":"ids","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"accountId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","password","accountId","fullName","phone","jobTitle","location","expertiseList","permissionProfileId"]}}},{"name":"includeExtension","in":"query","schema":{}},{"name":"includeUserGroups","in":"query","schema":{}},{"name":"includeMetaTags","in":"query","schema":{}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserCredentials"}}}}}},"security":[{"guardianAuth":[]}]}},"/api/v1/users/externalIds":{"get":{"tags":["Users"],"operationId":"getByExternalIds_1","parameters":[{"name":"externalIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"accountId","in":"query","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["id","createdDate","modifiedDate","modifiedById","firstName","lastName","usageConfirmed","userIdentifier","orgIdentifier","nymityId","status","extension","applicationRoles","metaTags","userGroups","permissionProfiles","username","credentialsNonExpired","passw
[...]
